
html, body {
  margin: 0;
  padding: 0;
}
.page-wrapper{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.sidemenu-wrapper{
  height: 100%;
}
.content-wrapper{
  height: 100%;
}