html, body {
  margin: 0;
  padding: 0;
}
.page-wrapper{
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.sidemenu-wrapper{
  height: 100%;
  background-color: aqua;
  width: 24em;

}
.content-wrapper{
  height: 100%;
}