
html, body {
  margin: 0;
  padding: 0;
}
.page-wrapper{
  display: flex;
  height: 100vh;
}
.sidebar-fix{
  padding-right: 260px;

}
.sidebar-pusher{
  width: 100%;
}
.sidemenu-wrapper{
  height: 100%;
}
.content-wrapper{
  height: 100%;
  padding: 20px;
}