
/* primary color: #2C3531 */
/* secondary color: #116466 */
/* accent color: #D9B08C */
/* secondary accent color: #FFC89A */
/* white color: #D1E8E2 */

.primary-color{
    color: #2C3531 !important;
}
.primary-color-bg{
    background-color: #2C3531 !important;
}

.secondary-color{
    color: #116466 !important;
}
.secondary-color-bg{
    background-color: #116466 !important;
}

.accent-color{
    color: #D9B08C !important;
}
.accent-color-bg{
    background-color: #D9B08C !important;
}

.second-accent-color{
    color: #FFC89A !important;
}
.second-accent-color-bg{
    background-color: #FFC89A !important;
}

.empty-color{
    color: #D1E8E2 !important;
}
.empty-color-bg{
    background-color: #D1E8E2 !important;
}
