.center-flex-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center-flex-buttons > button {
    margin: 0 7px !important;
}

.author{
  font-size: 14px;
}

.tekstic{
  font-size: 16px;
}
