.report-page{
    padding: 50px;
}

.report-buttons{
    padding: 30px;
}
.report-form{
    padding: 30px;
}
.description{
    resize: none;
}
.sumbit-button{
    margin-top: 17px;
}
textarea{
    resize: none !important;
}