.report-page{
    padding: 50px;
}

.report-buttons{
    padding: 30px;
}
.report-form{
    width: 60%;
    padding: 30px;
}
.description{
    resize: none;
}
.sumbit-button{
    margin-top: 17px;
}

.fontt{
  font-size: 15px;
  color: black;
}

.description{
  margin-top: 5px;
  margin-bottom: 5px;
}

.datum{
  font-size: 15px;
  color:blue;
}
